#addquote_btn {
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: rgb(243, 10, 224);
    text-align: center;
    margin-top: 5%;
    margin-left: 35%;
    border:rgb(243, 10, 224) 0.125em solid ;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% /0.5),0 0 0.125em rgb(243, 10, 224);
    box-shadow: inset 0 0 0.5em rgb(243, 10, 224),0 0 0.5em rgb(243, 10, 224);
}

.title {
    color: rgb(243, 10, 224);
    font-weight: bold;
}

h5 {
    font-weight: bold;
}